<%# <h1>Editing Transaction</h1> %>

<%= render 'form', transaction: @transaction %>
<div style="text-align:center;margin-top:35px;" >
<%= link_to 'Show Transaction', @transaction, class: "button is-primary" %>
</div>