<div class="container">
  <p style="font-size:35px"> About us </p>
  <section :class="`hero is-medium is-primary`" style="background-image:url(/images/Banner-1.png); 
  background-size:cover;background-position:center; background-repeat:no-repeat;background-attachment:fixed;" >
    <div class="hero-body has-text-centered">
      <h1 class="title" style="text-align:left !important;">WHO WE ARE</h1>
      <div style="text-align:left !important; max-width:350px">‘Organization Name’ has turned into US’s driving inventory network administrators organization. 
        Our vision is to wind up the working framework for business in US, 
        through a blend of world-class foundation, coordinations activities of the most noteworthy
        quality and front line designing and innovation capacities. </div>
    </div>
  </section>
  <section :class="`hero is-medium is-primary`" 
  style="margin-top:35px ; background-image:url(/images/Banner-1.png); 
  background-size:cover;background-position:center; background-repeat:no-repeat;background-attachment:fixed;" 
  >
    <div class="hero-body has-text-centered">
      <h1 class="title" style="text-align:right !important;"> GETTING THERE </h1>
      <div style="text-align:right !important; 
      max-width:350px; margin-left:auto"> Our group has effectively satisfied more than 340 million requests to in excess of
        50 million families crosswise over US. 19 robotized sort focuses, 30 satisfaction focuses, 
        44 center points, 2500+ direct conveyance focuses, 5000+ accomplice focuses, 14000+ vehicles
        and 21000+ colleagues make it conceivable to convey a million bundles every day,
        24 hours per day, 7 days seven days, 365 days a year. We are ‘Organization Name’ .
      </div>
    </section>
    <section :class="`hero is-medium is-primary`"  style="margin-top:35px ; 
    background-image:url(/images/Banner-1.png); 
    background-size:cover;background-position:center; 
    background-repeat:no-repeat;background-attachment:fixed;" >
      <div class="hero-body has-text-centered">
        <h1 class="title" style="text-align:left !important;">OUR MISSION</h1>
        <div style="text-align:left !important; max-width:350px"> ‘Organization Name’ furnishes items and administrations with the point of building 
          trust and enhancing the lives of buyers, private ventures, undertakings and our 
          developing group of workers and accomplices. We are upsetting US’s
          coordinations industry through our restrictive system structure, foundation, 
          organizations, and building and innovation abilities. We bring unparalleled cost 
          proficiency and skillet US reach to the organizations of more than 100,000 clients 
          and more than 15 million customers consistently. </div>
      </div>
    </section>
  </div>
