<div class="container" style="max-width:350px; margin:auto">
    <h1 style="font-size:35px"> Contact Us </h1>
    <form action="/" method="GET">
        <b-field label="Full Name">
            <b-input type="text" required></b-input>
        </b-field>
         <b-field label="Contact">
            <b-input type="tel" required></b-input>
        </b-field>

         <b-field label="Email">
            <b-input type="email" required></b-input>
        </b-field>
         <b-field label="Message">
            <b-input type="textarea" required></b-input>
        </b-field>
        <button class="button is-primary">
            Submit
        </button>
    </form>
</div>