<% if @transaction %>
  <search :props="<%= @transaction.to_json %>" >
  <% else %>
    <section class="section">
      <div class="content has-text-grey has-text-centered">
        <p>
          <b-icon
            icon="emoticon-sad"
            size="is-large">
          </b-icon>
        </p>
        <p> Tracking Id Not Found </p>
      </div>
    </section>
  <% end %>
