<h1 style="text-align:center; margin:20px 0;">
    Send Email To Reciever
</h1>

<form action="sendmail" method="POST" style="max-width:350px; margin:auto" >
    <label> email </label>
    <input type="email" name="email" required class="input">
    <label> content </label>
    <textarea name="content" class="textarea"> </textarea>
    <button class="button"> Submit </button>
</form>

